<!-- <app-map [festivals]="festivals"></app-map> -->

<md-card>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [ngModel]="dateFilter" (ngModelChange)="dateChange($event)">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>

  <md-list class="genre-list">
    <md-list-item *ngFor="let genre of genres">
      <a (click)="selectGenre(genre)">
        <h3 md-line>{{genre}}</h3>
      </a>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  <md-list class="festival-list">
    <md-list-item *ngFor="let festival of filteredFestivals">
      <h3 md-line>{{festival.name}}</h3>
    </md-list-item>
  </md-list>
</md-card>
